@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:#ffffff; box-shadow: 0px 0px 20px #808080;">
        <br />
        <h2>Welcome to GitHub Explorer</h2>
        <h3>Login to begin!</h3>
        <a href="Home/Login"><img id="svg-loading-img" src="~/images/loading.gif" /></a>
        <br />    
</div>
    